---
layout: page
title : About
group: navigation
---
{% include JB/setup %}

 <div class="asset-body">
	<h2>Blog</h2>
	<ul>
	<li>
	This blog is all about IT technology such as web, database and development. Additional, I'll share some of my individual life, especially about reading and varied opinions. Hope you will like it and discuss with me.
	</li>
	</ul>
	
	<h2>Work</h2>
	<ul>
	
	<li>Software Development Engineer 2011.7 ~ Now</li>
	<li>Oracle DBA 2011.7 ~ Now</li>
	</ul>

	<h2>Me</h2>
	<li><img src="{{ ASSET_PATH }}images/me/douban.png" /><a href="http://www.douban.com/people/dylanninin/" target="_blank"> douban.com</a></li>
	<li><img src="{{ ASSET_PATH }}images/me/weibo.png" /><a href="http://weibo.com/dylanninin" target="_blank"> weibo.com</a></li>
	<li><img src="{{ ASSET_PATH }}images/me/twitter.png" /><a href="https://twitter.com/dylanninin" target="_blank"> twitter.com</a></li>
	<li><img src="{{ ASSET_PATH }}images/me/facebook.png" /><a href="https://www.facebook.com/dylanninin" target="_blank"> facebook.com</a></li>
	<li><img src="{{ ASSET_PATH }}images/me/dylanninin.png" /><a href="http://dylanninin.com/" target="_self"> dylanninin.com</a></li>
	<li><img src="{{ ASSET_PATH }}images/me/me.png" /><a href="http://about.me/dylanninin" title="about.me/dylanninin" target="_blank"> about.me</a></li>
	
</div>

<hr>
{% include JB/comments %}